[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/SPSCQueue"]
	path = vendor/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue.git
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
